html, body {
    overflow-x: hidden;
}

html {
    overflow-y: scroll;
}

body {
    margin: 0;
    overflow-y: hidden;
    width: 100vw;
}

img {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}